.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: center;
    height: 100dvh;
    min-height: 500px;
  
    .hero {
      max-width: 200px;
    }
  
    span {
      display: flex;
      gap: 25px;
      justify-content: center;
      color: #ffe102;
  
      a {
        margin: 0;
  
        img {
          width: 30px;
        }
      }
    }
  
    a {
      width: fit-content;
      align-self: center;
    }
  
    button {
      background-color: var(--btn-color);
      color: var(--btn-text-color);
      border: none;
      border-radius: 20px;
      width: 126px;
      height: 50px;
      font-size: 20px;
      font-weight: bold;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
    }
  
    button:hover {
      transform: scale(1.05);
    }
  
    button:active {
      transform: translateY(2px);
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    }

  span {
    display: flex;
    gap: 25px;
    justify-content: center;
    color: #ffe102;}
    
.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
 
}


  }
  
  .colorModeContainer {
    position: relative;
  }
  
  .colorMode {
    position: absolute;
    right: 0;
    width: 25px;
  }
  
  .colorMode:hover {
    cursor: pointer;
  }
  
  .description {
    max-width: 24ch;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  
  @media (width >= 800px) {
    .container {
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-evenly;
  
      .hero {
        max-width: 350px;
        width: 350px;
      }
    }
  }
  
  @media (width >= 1400px) {
    .container {
      .hero {
        max-width: 400px;
        width: 400px;
      }
    }
  }

 

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
